{% extends "base.html" %}



{% block content %}
<div id="main">
    <div id="side1">
        <!--This place is for advertisments -->
    </div>
    
    <div id="body-area">
      
      <h3>
         About the Tulip Garden
      </h3>
      <div class="container">
        <div class="text">
       Once called the Model Floriculture Center, the Tulip Garden was first opened in 2007 by the former Chief Minister Gulam Nabi Azad. The Dal Lake, Nishat Bagh, and Chashma Shahi Garden surround this gorgeous garden on three sides.
This flower field was the first largest landscaping project undertaken by the government after the Mughals built pleasure spots in Kashmir in the 16th century.
Spread over 30 acres, this terraced garden is built on a mountain slope. There are seven terraces each with a different variety of flowers, especially tulips. With more than 46 varieties and 15 lakh tulips, new flowers are added each
     It is the largest tulip garden in Asia spread over an area of about 30 ha (74 acres).It is situated at the base of the Zabarwan range, built on a sloping ground in a terraced fashion consisting of seven terraces with an overview of the Dal Lake. The garden was opened in 2007 with the aim to boost floriculture and tourism in the Kashmir Valley.It was formerly known as Siraj Bagh. About 1.5 million tulip bulbs, all in multiple colours, were brought Keukenhof tulip gardens of Amsterdam.Besides tulips, there are 46 varieties of flowers, including hyacinths, daffodils and ranunculus which were also brought from Holland. The tulip garden is home to around 68 varieties of tulips.    </div>
      </div>
      <br>
      <br>
      <h3>
        Places to visit near Tulip Garden Srinagar
      </h3>
      <div class="container">
      <div class="text">
        The prime location of the Tulip Garden makes it the most visited place in Srinagar. This park is surrounded by scenic hills, attractive gardens of the Mughal era, and most importantly, it overlooks the awe-inspiring Dal Lake. Given below are some other attractions that lie nearby.
<ul>
<li>Chashme Shahi Garden - This garden is the center of attraction for housing a natural spring that flows from it.</li>
<li>Pari Mahal - Overlooking the amazing Chashm-E-Shahi Gardens, this historic monument was once a Buddhist Monastery.</li>
<li>Shankaracharya Temple - Soak in the beauty of the snow-laden Pin Panjal Range from this age-old temple situated at 1100 feet.</li>
<li>Dal Lake - Dal Lake is truly a paradise on Earth. The beauty of this breathtaking lake is beyond description. A Shikara Ride is a must here.</li>
<li>Nishat Gardens - Spotted at a distance of 3.2 km from Tulip Garden, Nishat Bagh is home to long avenues of Cypress and Chinar trees, rare flowers, and fountains.<li>
<li>Mughal Gardens - A confluence of Nishat Bagh, Shalimar Bagh, and Chashm-E-Shahi, this park draws the crowd for its cascading fountains.</li>
<li>Shalimar Bagh - Another well-manicured garden built by Jahangir, a Mughal emperor. Praise the outstanding craftsmanship of the Mughals in terms of horticulture here.</li>
<li>Nagin Lake - The azure waters of this lake are sure to leave you spellbound.</li>
</ul>      

</div>
</div>
      <br>
      <br>
      

      <h3>
       n  
      </h3>
      <div class="text">
        {% lorem 5 %}
      </div>

    
  </div>
      <br>
      <br>
      

{% endblock %}