<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tulip Festival</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>


<header>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand">The Tulip Festival </a>
          </div>
        <ul class="nav navbar-default">
          {{ request.path }}
            <li class= "{% if request.path == '/' %} active {% endif %}"><a href="{%  url 'welcome' %}" >Home</a></li>
            <li class= "{% if request.path == '/about-me/' %} active {% endif %}"><a href="{% url 'about' %}">About the Carnival</a></li>
            <li class= "{% if request.path == '/register/' %} active {% endif %}"><a href="{% url 'register' %}">Register for the festival</a></li>
            <li class= "{% if request.path == '/contact-us/' %} active {% endif %}"><a href="{% url 'contact' %}">Contact us</a></li>
        </ul>
    </div>
</nav>
</header>
