{% extends "base.html" %}



{% block content %}


    <div id="main">
        <div id="side1">     
        </div>
        <div id="body-area">
          Hello 
          <div>
            <h2 class="text-center">The Tulip Festival at Srinagar</h2>
            <img src="/static/photos/tulip1.jpeg" width="700" height="700" class="mx-auto d-block" alt="Centre aligned Image"style="margin-top:0px;">
            <br>
            <br>
            <br>
        {{ fullname }}
        </div>
          <h3>
             The Tulip Festival
          </h3>
          <div class="text">
            Tulip Festival in Srinagar is a grand affair of natural beauty where flower beds are scattered upon several terraces. Your trip to Kashmir in April 2023 would not be considered complete without visiting Asia's most extensive Tulip Garden. This magnificent festival in Srinagar is celebrated every year with full fervor and joy. The Floriculture Department organizers announced plans to plant 1.5 million tulip bulbs of 62 varieties in 2023 Tulip Garden. The picturesque garden sprawls over 30 hectares. In short, the Tulip Festival in 2023 will take your breath away!
            </div>
        
        <br>
        <br>
        <h3>
            Starting and Ending Dates of Tulip Festival in 2023
        
        </h3>
        
        <div class="text">
            Tulip Festival is hosted in Kashmir Valley during the onset of the Spring Season. You can get ready to be a part of it in April 2023 as the festival will commence from 3rd April to 20th April 2023.
        </div>
        
        <br>
        <br>
        
        <h3>
            Entry Fee at Tulip Garden in 2023
        
        </h3>
        <div class="text"> 
            The entry fee to the garden is INR 25 for children and INR 60 for adults.
        </div>
        
        
        <br>
        <br/>
        
        <h3>
          Major Highlights of the festival
        </h3>
        
        <div class="text">
            Tulip Festival 2023 is a must-attend event for flower enthusiasts, nature lovers, fans, aficionados, tulip lovers, and tourists worldwide. There are many varieties of these amazing flowers; some are mentioned below. Let's see how many of them you can find at the Tulip Festival.
        
        

<ul>
    <li>
        Standard Tulips - These are the normal tulips available from florists to local gardens.
    </li>
    
    <li>
        Double Bloom - Instead of a single petal of a standard tulip, the double bloom has many layers.
    
    <li>
        Parrot Tulips - They appear as ruffled petals in various hues depicting the plumage of tropical parrot.
    </li>
    
    <li>
        Fringed Tulips - The edges and shape are frilly and fringed.
    </li>
    
    <li>
        Bi-Color Standard Tulips - They display a variation in terms of color when compared with the standard tulip.
    </li>
    <li>
        Rembrandt - pale-colored tall tulips.
    </li>
    
    
    
    <li>
        Lily-Flowering Tulips - These flowers have long, pointed petals with an arch at the tips.
    </li>
    
    
    
    <li>
        Triumph - Wide range of shades, splendid tones, and bi-colors are the characteristic features of these tulips.
    
    </li>
    
    
    </ul>
    
    
    </div>
    </div>
    </div>
    </body>
    </html>    
                
        </div> 
    </div>

    
{% endblock %}

